/* general sibling selector */
div ~ p{
    color:crimson;
}
.heading1 ~p{
    color:green;
}
#heading2 ~p{
    color: chocolate;
}
/* adjancent sibling selector */
.heading1 + p{
    background-color: pink;
}
#para1 + h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#heading2 + p{
    font-family: cursive;
}
/* child selector */
div > p{
    background-color: blueviolet;
}
.div2 > ul{
    background-color: blue;
}
ul>li{
    color: wheat;
}
/* desendent selector */
#div3 ol{
    background-color: chartreuse;
}
#div3 div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}