p::first-letter{
    font-family: cursive;

}
p::first-line{
    background-color: brown;
}
p::before{
    content: "hi this is before content";
}
p::after{
    content: "this after content";
    background-color: aqua;
}