div{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transform:rotate(51deg);
    animation-name: roll;
    animation-duration: 5s;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    
}
@keyframes roll{

    /* from{
        transform:rotate(51deg);
        background-color:chartreuse;
    }
    to{
        
        transform:rotate(90deg);
        
        background-color:pink;
    } */
    10%{
        transform: scale(30,30);
        background-color: pink;
    }
    40%{
        transform: rotate(21deg);
        background-color: aqua;
    }
    40%{
        transform: translateX(100);
        background-color: blueviolet;
    }
}