div{
    width: 20px;
    height: 20px;
    background-color: black;
    transform: translateX(38px);
    transform: translateY(30px);
    transform: rotate(90deg);
   
}
div:hover{
    transform: scale(90,90);
    /* transform: skew(50deg); */
}